@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Outfit', sans-serif;
}
html{
    scroll-behavior: smooth;
}

header{
    padding-bottom: 100px;

}

nav {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    font-family: 'Outfit', sans-serif;
    padding: 10px 0;
    z-index: 999;
    transition: box-shadow 0.3s ease;
}

.login-pannel{
    color:white;
    font-weight: bold;
    text-decoration: none;
    background-color:#0099ff ;
    padding: 15px;
    border-radius: 50px;
    transition: 0.3s;
}


nav.nav-scroll {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar li{
    display: inline;
    list-style: none;
}

.navbar li a{
    padding: 10px;
    text-decoration: none;
    color:#0099ff;
    border-radius: 50px;
    transition: .3s;
}

.navbar li a:hover{
    padding: 10px;
    transition: .5s;
    text-decoration: none;
    background-color:  #0099ff;
    border-radius: 50px;
    color: white;
}




.Home{
    padding-top: 100px;
    line-height:20px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.Home h1 {
    font-size: 150px;
}

.Home p {
    font-size: 30px;
    margin-bottom: 50px;
}


.tombol a{
    margin-right: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 20px;
    background-color: #0099ff;
    transition: .3s;
}

.tombol a:hover{
    margin-right: 10px;
    transition: .3s;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 25px;
    background-color: rgb(18, 159, 246);
}

.tombol {
    margin-bottom: 0;
}
.waves{
    display: block;
}

.About{
    text-align: center;
}



.diskon{
    background-color: #0099ff;
    text-align: center;
    color: white;
}


.cards{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}



.diskcard {
    box-shadow: 0 15px 25px rgba(0,0,0,0.05);
    background-color:#0099ff;
    color: white;
    width: 18rem;
    transition: .2s;
    height: 350px;
}

.diskcard:hover {
    transition: .2s;
    width: 20rem;
    height: fit-content;

}
.card-img-top{
    box-shadow: 0 15px 25px rgba(255, 255, 255, 0.05);
}

.btn-primary{
    background-color: #0099ff;
}

/* Formula Belajr */

.formula_belajar{
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.group_content{
    display: flex;
}

.left_content{
    margin-top:30px;
    text-align: right;
}

.right_content{
    margin-top:30px;
    text-align: left;
}


/* FAQ */
.FAQS{
    display: flex;
    justify-content: center;
}
.FAQ{
    margin: 0 40px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.FAQ h1{
    color: #333;
    transition: .3s;
}
.FAQ .tab{
    position: relative;
    background: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.05);
    border-radius: 5px;
    overflow: hidden;
    transition: .3s;
}
.FAQ .tab input{
    appearance: none;
    transition: .3s;
}
.FAQ .tab label{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.FAQ .tab label::after{
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: rgba(0,0,0,0.1);
    transition: .3s;
}
.FAQ .tab:hover label::after{
    color: #333;
    transition: .3s;
}
.FAQ .tab input:checked ~ label::after{
    transform: rotate(135deg);
    color: #fff;
    transition:.3s;
}
.FAQ .tab label h2{
    width: 40px;
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
}
.FAQ .tab input:checked ~ label h2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,0.2);
    font-size: 8em;
    justify-content: flex-end;
    padding: 20px;
}

.FAQ .tab label h2{
    background: linear-gradient(135deg, #00eaff,#0099ff);
}

.FAQ .tab label h3{
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}
.FAQ .tab .content{
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}
.FAQ .tab input:checked ~ .content{
    max-height: 100vh;
}
.FAQ .tab .content p{
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}


/* Artikel */
.Artikel {
    text-align: center;
    margin: 100px auto;
}

.cArtikel {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    height: 350px;
}

.Acard {
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
    width: 15rem;
    /* position: relative; */
    transition: 0.3s;
    text-decoration: none;
}

.Acard:hover{
    width: 18rem;
    transition: 0.3s;
}

.Acard:nth-child(even){
    transform: translateY(50px);
}

.Acard:hover{
    width: 18rem;
}

.artext{
    margin-top: 50px;
}

footer{
    background-color: #0099ff;
    color:white;
    padding: 50px 20px 20px 10px;

}

.footer_group{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_group ul{
    font-size: 17px;
    list-style-type: none;
}

.footer_group ul li a {
    text-decoration: none;
    color: white;
}

.footer_group ul li a:hover {
    text-decoration:underline;
    color: white;
}
